{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Abra", "Ata", "Ama", "Apha", "Asa", "Ava", "Bei", "Bi", "Boa", "Ba", "Cei", "Ca", "Co", "Coi", "Epha", "Eni", "Ma", "Mu", "Mo", "Pye", "Pei", "Po", "Ra", "Rio", "Ro", "Ru", "Tye", "Tu", "Vau", "Vye", "Voa" ],
      [ { "mode" : "alts" }, "ca", "chan", "han", "man", "ra", "sa", "slam", "sha", "ya", "chin", "him", "min", "ri", "si", "slim", "shi", "yi", "cu", "chun", "lu", "mun", "ru", "su", "slum", "shu", "yu", "co", "chom", "hom", "lon", "ro", "so", "slon", "sho", "yo" ]
    ]
  ]
}
