{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ala", "Ana", "Apha", "Asa", "Bei", "Bi", "Bu", "Ba", "Cei", "Ca", "Co", "Ci", "Eva", "Eni", "Eti", "Mau", "Mei", "Ma", "Mi", "Pei", "Pa", "Ra", "Ru", "Tei", "Ti", "Tu", "Vye", "Vi" ],
      [ { "mode" : "alts" }, "ca", "chan", "lan", "ra", "sa", "sha", "wa", "ci", "chin", "lin", "min", "ri", "si", "shi", "wi", "cu", "chun", "lu", "mun", "ru", "su", "shu", "wu", "co", "lon", "mon", "ro", "so", "sho", "wo" ]
    ]
  ]
}
