{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/smallthunderbeamhitspark/smallthunderbeamhitspark.animation",
                "approach" : [0.0, 0.0],
                "timeToLive" : 1.25,
				"fullbright" : true,
                "variance" : {
                  "position" : [0.0, 0.0],
                  "initialVelocity" : [0, 0],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/electrical_barrier_break1.ogg", "/sfx/projectiles/electrical_barrier_break2.ogg", "/sfx/projectiles/electrical_barrier_break3.ogg", "/sfx/projectiles/electrical_barrier_break4.ogg", "/sfx/projectiles/electrical_barrier_break5.ogg", "/sfx/projectiles/electrical_barrier_break6.ogg" ]
    },
	{
      "action" : "light",
      "color" : [255, 156, 244]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
