{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "smallshockwaveexplosion"
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/smallenergyflame/smallenergyflame.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "position" : [1.5, 1.5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.3,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_fire1.ogg", "/sfx/gun/grenadeblast_fire2.ogg", "/sfx/gun/grenadeblast_fire3.ogg" ]
    },
    {
      "action" : "light",
      "color" : [255, 156, 244]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.1,
      "delaySteps" : 2
    }
  ]
}
